

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
}

#container {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;

}

#map {
  height: 100vh;
  width: 75%;
}

#SideBar {
  width: 25%;
}

list-style: none