

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
}

#container {
  font-family: sans-serif;
  display: flex;
  flex-flow: row wrap;
  background-color: #180335;


}

#map {
  height: 100vh;
  width: 75%;
  flex: 200px;
}


#App {
  height: 100vh;
  color: #ffffff;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}


ul {
  list-style-type: none;
  margin: 0;
}

li {
  padding: .5em;
  font-size: 1em;
}

/*media queries */
/* ====================== Media Queries ====================== */

